.App{
  background: #F5F5F5;
  font-family: arial;
}

.inner {
  margin: 50px;
  color: #212121;
}

div{
  margin: 10px;
}

.row {
  display: flex;
  height: 22px;
}

form p{
  color: red;
  margin: auto 0;
}

#results td, th{
  min-width: 20%;
  border: 1px solid black;
}

form{
  background: #512749;
  border-radius: 5px;
  border: 0px solid;
  padding: 10px;
  position: relative;
  color: #fff;
}

label{
  margin-right: 10px;
}

.input-box-error{
  border: 1px red solid
}
